<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJobService" />
                <binding name="BasicHttpBinding_ILookupService" />
                <binding name="BasicHttpBinding_IDealService" />
                <binding name="BasicHttpBinding_IPortfolioManagementService" />
                <binding name="BasicHttpBinding_ICurveService" />
                <binding name="BasicHttpBinding_IQaAppServerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://netvs-qa161a02:8009/DealService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDealService" contract="DealServiceReference.IDealService"
                name="BasicHttpBinding_IDealService" />
            <endpoint address="http://netvs-qa162a01:8009/PortfolioManagementService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortfolioManagementService"
                contract="PortfolioManagementServiceReference.IPortfolioManagementService"
                name="BasicHttpBinding_IPortfolioManagementService" />
            <endpoint address="http://netvs-qa163a01:8009/CurveService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICurveService" contract="CurveServiceReference.ICurveService"
                name="BasicHttpBinding_ICurveService" />
            <endpoint address="http://netvs-qa171a02:8009/JobService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IJobService" contract="InternalJobService.IJobService"
                name="BasicHttpBinding_IJobService" />
            <endpoint address="http://netvs-qa172a02:8009/QATestService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQaAppServerService"
                contract="QAAppserverServiceReference.IQaAppServerService"
                name="BasicHttpBinding_IQaAppServerService" />
            <endpoint address="http://dev-app-etrm-02:8009/LookupService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILookupService"
                contract="LookUpServiceReference.ILookupService" name="BasicHttpBinding_ILookupService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
