@using (Html.BeginForm())
{
        <h2>Oops... we have some problems</h2>
        <h2>@ViewBag.Message</h2>
        <img alt="Problems..." class="img" height="30%" src="~/Content/images/oops.jpg" width="30%">

}