<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- [string] Root application url (the last symbol '/' is required). -->
    <add key="ApplicationUrl" value="http://netvs-qa161a02/CRV"/>
    <!-- [string] Web browser for testing. Available values: Chrome, Firefox, IE. -->
    <add key="WebBrowser" value="Chrome"/>
    <!-- [string] Folder path with webdrivers. -->
    <add key="WebDriversFolderPath" value="WebDrivers"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
