#Folders
[Bb]in/
!/QA/Regression/Bin/
.DS_Store
.Trashes
obj/
*.tlog/
[Dd]ebug/
/Integration/
__history/

#Specific files
ElvizCM.exe

#By file extension
*.cache
*.csi
*.dca
*.dcu
*.dll
*.drc
*.exp
*.exe
*.lib
*.log
*.lvw
*.pdb
*.RES
*.scc
*.sdf
*.suo
*.tmp
*.txt
*.user
*.vbw
TemporaryGenerated*.*
*.VC.db
*.VC.opendb
*.dproj.local
*.identcache

# QA part
.vs/
*.vsto
*.scs.bak
*.tcCfgExtender
*.tcLS
QA/Regression/Source/TestComplete/*/Log
QA/Regression/Source/TestComplete/*/*/Log
QA/Regression/Source/TestComplete/*/*/Events
QA/Regression/Source/TestComplete/*/*/*/Visualizer
QA/Regression/Bin/GenConExport/TestConfig/
QA/Regression/Bin/GenConExport/ExportFiles/
QA/Regression/Bin/*/*.dll.*
QA/Regression/Bin/*/*OpenXml.*
QA/Regression/Bin/*/ClosedXML*
!QA/Regression/Bin/Pretest*/ClosedXML.xml
QA/Regression/Bin/*/*TestResult.xml
QA/Regression/Bin/*/*exe.config
QA/Regression/Bin/*/nunit.framework.xml
/QA/Regression/Bin/TestWSMSelenium/*.xml
/QA/Regression/Bin/TestFileWatcherWithUtils/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
/QA/Regression/Bin/BatchTestCompareExcelAddIn/*.xml

[Bb]in/
packages/
obj/