#Folders
[Bb]in/
!/Regression/Bin/
.DS_Store
.Trashes
obj/
*.tlog/
[Dd]ebug/
/Integration/
__history/

#Specific files
ElvizCM.exe

#By file extension
*.cache
*.csi
*.dca
*.dcu
*.dll
*.drc
*.exp
*.exe
*.lib
*.log
*.lvw
*.pdb
*.RES
*.scc
*.sdf
*.suo
*.tmp
*.txt
*.user
*.vbw
TemporaryGenerated*.*
*.VC.db
*.VC.opendb
*.dproj.local
*.identcache

# QA part
.vs/
*.vsto
*.scs.bak
*.tcCfgExtender
*.tcLS
*.tlb
*.mds.tcLogs
Regression/Source/TestComplete/*/Log/
Regression/Source/TestComplete/*/*/Log/
Regression/Source/TestComplete/*/*/Events/
Regression/Source/TestComplete/*/*/*/Visualizer
Regression/Bin/GenConExport/TestConfig/
Regression/Bin/GenConExport/ExportFiles/
Regression/Bin/*/*.dll.*
Regression/Bin/*/*OpenXml.*
Regression/Bin/*/ClosedXML*
!Regression/Bin/Pretest*/ClosedXML.xml
Regression/Bin/*/*TestResult.xml
Regression/Bin/*/*exe.config
Regression/Bin/*/nunit.framework.xml
Regression/Bin/TestWSMSelenium/*.xml
Regression/Bin/TestFileWatcherWithUtils/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
Regression/Bin/BatchTestCompareExcelAddIn/*.xml

packages/
obj/
/Regression/Source/TestComplete/CurveServer/Adapter/TestFiles/ENOD2112-17.xml
