<?xml version="1.0" encoding="utf-8"?>
<appSettings>

	<add value="Data Source=QADBSRV01;Database=QAECM111;User ID=EcmDbUser;Password=EcmDbUser;Trusted_Connection=False" key="database.connectionString"></add>
	<add value="Data Source=QADBSRV01;Database=QAPRICES111;User ID=EcmDbUser;Password=EcmDbUser;Trusted_Connection=False;Timeout=10" key="vizPrices.database.connectionString"></add>
	<add value="Data Source=QADBSRV01;Database=QASystem111;User ID=EcmDbUser;Password=EcmDbUser;Trusted_Connection=False;Timeout=10" key="vizSystem.database.connectionString"></add>
</appSettings>
