<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <!-- These four feeds should always be commented in and available on our QA environment so that they will be tested regurarily and kept up to date! -->
    <!--<add key="nordpool.xml" value="Viz.Priceboard.Server.Adapters.Web.NordPoolWebAdapter" />-->
    <!--<add key="EndexWeb.xml" value="Viz.Priceboard.Server.Adapters.Web.EndexWebAdapter" />-->
    <!--<add key="EexWeb.xml" value="Viz.Priceboard.Server.Adapters.Web.EexWebAdapter" />-->
    <add key="MontelApiFeeder.xml" value="Viz.Priceboard.Server.Adapters.MontelApiAdapter.MontelApiAdapter" />
    <!--add key="TrayPortEGL.xml" value="Viz.Priceboard.Server.Adapters.GV8Adapter.GV8Adapter" /-->
    <!--<add key="TrayPortICAP.xml" value="Viz.Priceboard.Server.Adapters.GV8Adapter.GV8Adapter" />-->
    <!--<add key="MontelPowerFeeder.xml" value="Viz.Priceboard.Server.Adapters.Montel.MontelPowerFeederAdapter" />-->
    <!--<add key="CRAWebServices.xml" value="Viz.Priceboard.Server.Adapters.WebServices.CRAWebServicesAdapter" />-->
    <!--<add key="ElvizReports.xml" value="Viz.Priceboard.Server.Adapters.Elviz.ElvizReportsAdapter" />-->
    <!--<add key="OMexFeedNP.xml" value="Viz.Priceboard.Server.Adapters.OMexFeedAdapter.OMexFeedAdapter" />-->
    <!--add key="TrayPortDummy.xml" value="Viz.Priceboard.Server.Adapters.GV8Adapter.GV8AdapterDummy" /-->
    
  </appSettings>
</configuration>
