/****** Script for SelectTopNRows command from SSMS  ******/
GO
IF EXISTS(select * FROM sys.views where name = 'TimeSeriesByContracts')
BEGIN
DROP VIEW ContractsView
END

GO

CREATE VIEW TimeSeriesByContracts
AS
SELECT  
     c.[ContractId]
      ,c.[AuctionType]
      ,c.[Audited]
      ,c.[Authorized]
      ,c.[BalanceArea]
      ,c.[BaseCurrency]
      ,c.[BrokerCompanyExternalId]
      ,c.[BrokerCompanyId]
      ,c.[BrokerCompanyName]
      ,c.[BrokerFeeFixed]
      ,c.[BrokerFeeFixedUnit]
      ,c.[BrokerFeeVariable]
      ,c.[BrokerFeeVariableUnit]
      ,c.[BuyerInitiatorAggressor]
      ,c.[BuySell]
      ,c.[CapacityId]
      ,c.[CapacityBidPrice]
      ,c.[CapacityBidVolume]
      ,c.[CapacityTradedVolume]
      ,c.[CapFloorPricingResolution]
      ,c.[CashFlowPaidReceived]
      ,c.[CertificateType]
      ,c.[ClearingFeeFixed]
      ,c.[ClearingFeeFixedUnit]
      ,c.[ClearingFeeVariable]
      ,c.[ClearingFeeVariableUnit]
      ,c.[ClearingType]
      ,c.[Comment]
      ,c.[CommissionFeeFixed]
      ,c.[CommissionFeeFixedUnit]
      ,c.[CommissionFeeVariable]
      ,c.[CommissionFeeVariableUnit]
      ,c.[Commodity]
      ,c.[CompanyExternalId]
      ,c.[CompanyId]
      ,c.[CompanyName]
      ,c.[ConfirmedByBroker]
      ,c.[ConfirmedByCounterparty]
      ,c.[ContractModelType]
      ,c.[ContractPriceType]
      ,c.[ContractTimeZone]
      ,c.[CounterpartyCompanyExternalId]
      ,c.[CounterpartyCompanyId]
      ,c.[CounterpartyCompanyName]
      ,c.[CounterpartyPortfolioExternalId]
      ,c.[CounterpartyPortfolioId]
      ,c.[CounterpartyPortfolioName]
      ,c.[CrossCurrency]
      ,c.[Currency]
      ,c.[CurrencySource]
      ,c.[DealCompression]
      ,c.[Deliveries]
      ,c.[DeliveryLocation]
      ,c.[DistributedQuantity]
      ,c.[EMIRStatus]
      ,c.[EnergySource]
      ,c.[EnvironmentLabel]
      ,c.[ExecutionVenue]
      ,c.[ExpiryDate]
      ,c.[ExternalId]
      ,c.[ExternalSource]
      ,c.[FromCountry]
      ,c.[FromDate]
      ,c.[GroupField1]
      ,c.[GroupField2]
      ,c.[GroupField3]
      ,c.[IndexName]
      ,c.[InitialPrice]
      ,c.[InstrumentName]
      ,c.[InstrumentType]
      ,c.[Interconnector]
      ,c.[IsOriginator]
      ,c.[LastUpdatedTimeUTC]
      ,c.[LoadProfile]
      ,c.[LowerStrike]
      ,c.[MarketPriceMultiplier]
      ,c.[MasterAgreement]
      ,c.[MaxVolume]
      ,c.[MinVolume]
      ,c.[OriginalQuantity]
      ,c.[Paid]
      ,c.[PortfolioExternalId]
      ,c.[PortfolioId]
      ,c.[PortfolioName]
      ,c.[Price]
      ,c.[PriceBasis]
      ,c.[PriceVolumeUnit]
      ,c.[Priority]
      ,c.[ProductionFacility]
      ,c.[PutCall]
      ,c.[Quantity]
      ,c.[QuantityDependencyReferenceContractId]
      ,c.[QuantityDependencyReferenceExternalId]
      ,c.[QuantityUnit]
      ,c.[QuotaRegion]
      ,c.[ReferringId]
      ,c.[RemitReporting]
      ,c.[ReplicationId]
      ,c.[Resolution]
      ,c.[RiskValue]
      ,c.[SamplingFromDate]
      ,c.[SamplingPeriod]
      ,c.[SamplingToDate]
      ,c.[SellerInitiatorAggressor]
      ,c.[SettlementRule]
      ,c.[SettlementType]
      ,c.[Status]
      ,c.[Strike]
      ,c.[StrikeCurrency]
      ,c.[StripExpiryOffset]
      ,c.[StripExpiryTimeOfDay]
      ,c.[TerminationDate]
      ,c.[TicketNumber]
      ,c.[TimeStampAuthorisedUTC]
      ,c.[TimeStampClearedUtc]
      ,c.[TimeStampConfirmationBrokerUtc]
      ,c.[TimeStampConfirmationCounterPartyUtc]
      ,c.[TimeStampCounterPartyDealAuthorisedUTC]
      ,c.[ToCountry]
      ,c.[ToDate]
      ,c.[ToPriceBasis]
      ,c.[TradeDate]
      ,c.[TradeDateTime]
      ,c.[TradeDateTimeUtc]
      ,c.[Trader]
      ,c.[TradingFeeFixed]
      ,c.[TradingFeeFixedUnit]
      ,c.[TradingFeeVariable]
      ,c.[TradingFeeVariableUnit]
      ,c.[TransferDate]
      ,c.[UnderlyingInstrumentType]
      ,c.[UnderlyingSettlementType]
      ,c.[UnderlyingVenue]
      ,c.[UpperStrike]
      ,c.[UserSpecifiedDealName]
      ,c.[UTI]


--	  ,tsSet.[TimeSeriesSetId]
      ,tsSet.[JobExecutionId]
      ,tsSet.[Alias] as JobName
      ,tsSet.[ReportDate]
      ,tsSet.[FilterName]
      ,tsSet.[Status] as JobStatus
	    ,[ValueType]
      ,ts.[Alias] as TimeSerieName

      ,ts.[Resolution] as TimeSerieResolution
      ,[TimeZoneName] as TimeSerieTimeZone
      ,[Unit]
      ,[LoadType]
      ,[CreatedDate]
	  ,tsVal.[FromDateTime]
      ,tsVal.[FromDateTimeUTC]
      ,tsVal.[LoadHours] 
      ,tsVal.[Value] as TimeSerieValue
  FROM [TimeSeriesSets] tsSet

  join TimeSeries ts on tsSet.TimeSeriesSetId=ts.TimeSeriesSetId
  join TimeSeriesValues tsVal on ts.TimeSeriesId=tsVal.TimeSeriesId
  join ContractsView c on ts.ContractId=c.ContractId

  go