<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="Application.Server.Url" value="tcp://QA121CR01:8005"/>
	<add key="PriceBoard.Service.Url" value="tcp://QA121CR01:8004"/>
	<add key="PriceBoard.MessageHost.Url" value="tcp://QA121CR01:61616"/>


  <add key="applicationServer.securityServiceUrl"                   value="${Application.Server.Url}/RemotedSaoSingletonSecurityService"/>
	<add key="applicationServer.efmDomainModelServiceServiceUrl"      value="${Application.Server.Url}/RemotedSaoSingletonEfmDomainModelFacade"/>
	<add key="applicationServer.marketDataServiceServiceUrl"          value="${Application.Server.Url}/RemotedSaoSingletonMarketDataService"/>
	<add key="applicationServer.curveServerServiceUrl"                value="${Application.Server.Url}/RemotedSaoSingletonCurveServerService"/>
  <add key="applicationServer.clearingReportsServiceUrl"            value="${Application.Server.Url}/RemotedSaoSingletonClearingReportsService"/>
  <add key="applicationServer.assetLiabilityServiceUrl"             value="${Application.Server.Url}/RemotedSaoSingletonAssetLiabilityService"/>
  <add key="applicationServer.historicalMarketDataServiceUrl"       value="${Application.Server.Url}/RemotedSaoSingletonHistoricalMarketDataService"/>
  <add key="applicationServer.VizPricingScenarioFactoryServiceUrl"  value="${Application.Server.Url}/RemotedSaoSingletonVizPricingScenarioFactoryService"/>
  <add key="applicationServer.FactoryProviderServiceUrl"            value="${Application.Server.Url}/RemotedSaoSingletonFactoryProviderService"/>
  <add key="applicationServer.SchedulesInfoServiceUrl"              value="${Application.Server.Url}/RemotedSaoSingletonSchedulesInfoService"/>
	<add key="DebugStateDump"                                         value="false"/>
  <add key="CacheReferenceDataOnAuthentication"                     value="false"/>
  <add key="UseCodeConfig"                                          value="false"/>

  
  <!-- Configuring assembly mapping -->
  <add key="assemblyLoadMap_1_Key" value="Viz.Core"/>
  <add key="assemblyLoadMap_1_Values" value="Viz.Core.Model, Viz.Core, Viz.Integration.ImportExport, CurveEX"/>

  <add key="assemblyLoadMap_2_Key" value="Viz.Core.Model" />
  <add key="assemblyLoadMap_2_Values" value="Viz.Core.Model" />

  <add key="assemblyLoadMap_2_Key" value="Viz.Efm.Presentation.Model" />
  <add key="assemblyLoadMap_2_Values" value="Viz.Efm.Presentation.Windows, Viz.Core.Model" />
  
  
  <!-- Configuring Service Assemlby List -->
  <add key="serviceAssembly_1" value="Viz.Core" />
  <add key="serviceAssembly_2" value="Viz.HistoricMarketData"/>


  <!-- Configuring Automation Service Assemlby List -->
  <add key="AutomationServiceAssembly_1" value="Viz.Efm.Presentation.Windows" />

  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>
