<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileWatcherSettings" type="Test.VizIntegration.Core.Regression.FileProcessorConfigurationSection, TestIntegration" />
  </configSections>
  <fileWatcherSettings>
    <fileProcessors>

      <fileProcessor
			name="Viz Core Deal Import"
			logDirectory="\\{0}\Elviz\Integration\DealImport\Results"
			processedDirectory="\\{0}\Elviz\Integration\DealImport\Processed"
			quarantineDirectory="\\{0}\Elviz\Integration\DealImport\Quarantined"
			watchPath="\\{0}\Elviz\Integration\DealImport"
      testFilesFolder="TestFiles"
				/>

    </fileProcessors>
  </fileWatcherSettings>
</configuration>